* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.btn {
    border: 0;
    height: 100px;
    width: 100px;
    cursor: pointer;
    position: absolute;
    font-size: 80px;
    background-color: white;
}

.btn.active {

}
