* {
    box-sizing: border-box;
}

body {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.btn {
    display: flex;
    border: 0;
    border-radius: 8px;
    height: 100px;
    width: 500px;
    cursor: pointer;
    position: absolute;
    font-size: 35px;
    background-color: grey;
    text-align: center;
    padding: 10px;
    text-color: white;
}

