@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: 'Pangolin', sans-serif;
    color: #FDFAF6;
    display: flex;
    margin: 0;
}

.bg {
    background-image: url('../images/kien-do-NjT4O7WYmwk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.btn {
    background-color: rgb(63, 125, 88, 0.75);
    border: 0;
    bottom: 20px;
    left: 50%;
    height: 50px;
    width: 120px;
    border-radius: 18px;
    font-family: inherit;
    font-size: 18px;
    position: absolute;

}


.btn1 {
    background-color: rgb(63, 125, 88, 0.75);
    border: 0;
    bottom: 20px;
    left: 500px;
    height: 50px;
    width: 120px;
    border-radius: 18px;
    font-family: inherit;
    font-size: 18px;
    position: absolute;
    color: #FAF1E6;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #FAF1E6;
}

a:hover {
    color: #F7A8C4;
}

.container {
    background-color: rgb(63, 125, 88, 0.75);
    color: #FAF1E6;
    font-family: inherit;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 18px;
    display: flex;
}

#element1 {
    position: absolute;
    top: 90px;
    left: 2%;
    width: 20%;
}

#element2 {
    position: absolute;
    top: 90px;
    left: 28%;
    width: 20%;
}

#element3 {
    position: absolute;
    top: 90px;
    left: 54%;
    width: 20%;
}

#element4 {
    position: absolute;
    top: 90px;
    left: 79%;
    width: 20%;
}

#element5 {
    position: absolute;
    top: 270px;
    left: 2%;
    width: 20%;
}

#element6 {
    position: absolute;
    top: 270px;
    left: 28%;
    width: 20%;
}

#element7 {
    position: absolute;
    top: 270px;
    left: 54%;
    width: 20%;
}

#element8 {
    position: absolute;
    top: 270px;
    left: 79%;
    width: 20%;
}


