@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #C7D9DD;
    color: #ffffff;
    font-family: 'Press Start 2P', sans-serif;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    line-height: 1.4;
}

.btn {
    border: 0;
    background-color: #ffffff;
    color: #C7D9DD;
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.insects-list {
    display: flex;
    flex-wrap: wrap;
    jusitfy-content: center;
    list-style-type: none;
    padding: 0;
}

.insects-list li {
    margin: 10px;
}

.choose-insect-btn {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    font-family: inherit;
    width: 150px;
    height: 150px;
}

.choose-insect-btn img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.choose-insect-btn:active {
    background-color: rbga (255, 255, 255, 0.7);
}
