

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.bg {
    background-image: url('../images/jackrussel');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    filter: blur(50px);
    z-index: -1;
}

.loading-text {
    font-size: 50px;
    color: white;
}

.btn {
    background-color: rgb(63, 125, 88, 0.75);
    border: 0;
    bottom: 20px;
    left: 50%;
    height: 50px;
    width: 120px;
    border-radius: 18px;
    font-family: inherit;
    font-size: 18px;
    position: absolute;

}

a {
    text-decoration: none;
    color: #FAF1E6;
}

a:hover {
    color: #F7A8C4;
}
